<a href="https://colab.research.google.com/github/lynseybwisa/test/blob/develop/shamiri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.8/dist-packages (2.9.5)

In [2]:
import psycopg2
import csv

Connect to the database

In [6]:
conn = psycopg2.connect(
    host="localhost",
    database="shamiri",
    user="postgres",
    password="password"
)
cursor = conn.cursor()

OperationalError: ignored

Create a table for the data

In [ ]:
table_name = "mock_data"
cursor.execute(f"DROP TABLE IF EXISTS {table_name};")
cursor.execute(f"CREATE TABLE {table_name} (id SERIAL PRIMARY KEY, name TEXT, email TEXT);")

Open the csv file and insert the data into the database

In [ ]:
with open('MOCK_DATA.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader) # skip the header row
    for row in reader:
        cursor.execute(f"INSERT INTO {table_name} (name, email) VALUES (%s, %s)", row)

Commit the changes and close the connection

In [ ]:
conn.commit()
conn.close()